<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/tailwind.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="../controllers/account/popup.js" defer></script>
    <title>Account</title>
  </head>

  <body class="flex">
    <div class="w-16 mt-8 space-y-8 sm:p-4">
      <div>
        <a href="home.html">
          <img
            src="../imgs/logo.maison.webp"
            alt="Logo Home"
            class="h-auto w-full invert"
          />
        </a>
      </div>

      <div>
        <a href="">
          <img
            src="../imgs/logo.loupe.webp"
            alt="Logo Loupe"
            class="h-auto invert w-full"
          />
        </a>
      </div>

      <div>
        <a href="">
          <img
            src="../imgs/logo.notifications.webp"
            alt="Logo Notifs"
            class="h-auto invert w-full"
          />
        </a>
      </div>

      <div>
        <a href="messages.html">
          <img
            src="../imgs/logo.enveloppe.webp"
            alt="Logo mail"
            class="h-auto invert w-full"
          />
        </a>
      </div>

      <div>
        <a href="profil.html">
          <img
            src="../imgs/logo.profil.webp"
            alt="Logo profile"
            class="h-auto invert w-full"
          />
        </a>
      </div>
    </div>

    <div class="mt-2 md:border-x px-4 lg:border-x lg:w-3/4 px-4">
      <div id="top_page" class="p-6"></div>

      <div>
        <div id="banner"></div>

        <div id="profil_picture"></div>
      </div>

      <div class="float-right">
        <button
          class="border border-blue hover:bg-zinc rounded-full p-2 popup"
          id="popup"
        >
          Edit profil
        </button>
      </div>

      <div
        class="modal bg-slate-700 h-64 relative p-4 max-w-md max-h-full rounded-lg hidden"
        id="modal"
      >
        <div class="block">
          <form id="update_account">
            <input
              class="rounded-lg text-black"
              type="text"
              placeholder="Change your username"
              id="new_username"
            />

            <input
              class="rounded-lg text-black"
              type="text"
              placeholder="Change your @"
              id="new_at_user_name"
            />

            <div id="update_message"></div>

            <button class="border border-zinc-500 rounded-lg p-2 mt-3">
              Edit
            </button>
          </form>
        </div>
      </div>

      <div id="username"></div>

      <p id="created_at" class="text-gray mb-4">📆</p>

      <div class="flex gap-4 mb-10">
        <p id="following">Following</p>
        <p id="followers">Followers</p>
      </div>

      <div
        class="test bg-slate-700 h-64 p-4 max-w-md max-h-full rounded-lg hidden"
        id="followers_modal"
      ></div>

      <div
        class="test bg-slate-700 h-64 p-4 max-w-md max-h-full rounded-lg hidden"
        id="following_modal"
      ></div>

      <nav>
        <ul class="flex space-x-10 justify-center">
          <li>Post</li>
          <li>Replies</li>
          <li>Media</li>
          <li>Likes</li>
        </ul>
      </nav>
      <div id="tweets"></div>

      <footer
        class="flex bg-black justify-between p-4 border-t relative sticky bottom-0 sm:hidden"
      >
        <img
          src="../imgs/logo.maison.webp"
          alt="Logo Home"
          class="h-auto invert w-[8%] sm:hidden"
        />
        <img
          src="../imgs/logo.loupe.webp"
          alt="Logo Home"
          class="h-auto invert w-[8%] sm:hidden"
        />
        <img
          src="../imgs/logo.notifications.webp"
          alt="Logo Home"
          class="h-auto invert w-[8%] sm:hidden"
        />
        <img
          src="../imgs/logo.enveloppe.webp"
          alt="Logo Home"
          class="h-auto invert w-[8%] sm:hidden"
        />
        <img
          src="../imgs/logo.profil.webp"
          alt="Logo Home"
          class="h-auto invert w-[8%] sm:hidden"
        />
      </footer>
    </div>

    <div class="hidden sm:block w-1/4">
      <div class="flex bg-slate-700 mt-8 mx-2 h-64 rounded-lg">
        <img
          src="../imgs/Zoro_Portrait_Punk_Hazard.webp"
          alt=""
          class="w-10 h-12 pt-2 ml-2 flex rounded-full"
        />
        <h2 class="pt-4 ml-2">account.suggest</h2>
        <button class="border border-zinc-500 rounded-full p-2 popup">
          Follow
        </button>
        <!-- <button class="rounded bg-black pt-4 ml-2 h-4">Follow</button> -->
      </div>
    </div>
  </body>
</html>
