<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../controllers/tweets/tweets.js" defer></script>
    <script src="../controllers/search/search.js" defer></script>
    <link rel="stylesheet" href="../styles/tailwind.css" />
    <title>Tweet Academy</title>
  </head>

  <body class="flex flex-col sm:flex-row">
    <!-- Navbar for big screens -->

    <header
      class="flex max-sm:justify-between sm:space-y-8 sm:flex-col sm:w-16 sm:border-r xl:w-72 xl:p-6 xl:flex-col"
    >
      <a class="w-[8%] sm:w-10" href="account.html">
        <img
          src="../imgs/default.png"
          alt="Photo de profil de base Twitter"
          class="rounded-full mt-2 h-auto sm:mx-3"
        />
      </a>

      <a class="w-[8%] sm:w-10" href="home.html">
        <img
          src="../imgs/x_icon.png"
          alt="Logo Twitter"
          class="rounded-full h-auto mt-2 sm:mx-3"
        />
      </a>

      <a class="w-[8%]" href="settings.html">
        <img
          src="../imgs/settings_icon.png"
          alt="parametre"
          class="sm:hidden rounded-full invert mt-2 h-auto sm:w-10 sm:ml-3"
        />
      </a>

      <div class="hidden sm:block">
        <a href="home.html" class="xl:flex xl:items-center xl:gap-5">
          <img
            src="../imgs/logo.maison.webp"
            alt="Logo Home"
            class="sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
          />
          <div class="hidden xl:text-xl xl:block">Home</div>
        </a>
      </div>

      <div class="hidden sm:block">
        <a href="search.html" class="xl:flex xl:items-center xl:gap-5">
          <img
            src="../imgs/logo.loupe.webp"
            alt="Logo Home"
            class="hidden sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
          />

          <div class="hidden xl:text-xl xl:block">Explore</div>
        </a>
      </div>

      <div class="hidden sm:block">
        <a href="notifications.html" class="xl:flex xl:items-center xl:gap-5">
          <img
            src="../imgs/logo.notifications.webp"
            alt="Logo Home"
            class="hidden sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
          />
          <div class="hidden xl:text-xl xl:block">Notifications</div>
        </a>
      </div>

      <div class="hidden sm:block">
        <a href="messages.html" class="xl:flex xl:items-center xl:gap-5">
          <img
            src="../imgs/logo.enveloppe.webp"
            alt="Logo Home"
            class="hidden sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
          />
          <div class="hidden xl:text-xl xl:block">Messages</div>
        </a>
      </div>

      <div class="hidden sm:block">
        <a href="account.html" class="xl:flex xl:items-center xl:gap-5">
          <img
            src="../imgs/logo.profil.webp"
            alt="Logo Home"
            class="hidden sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
          />
          <div class="hidden xl:text-xl xl:block">Profile</div>
        </a>
      </div>

      <div class="hidden sm:block">
        <a href="settings.html" class="xl:flex xl:items-center xl:gap-5">
          <img
            src="../imgs/settings_icon.png"
            alt="settings"
            class="hidden sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
          />
          <div class="hidden xl:text-xl xl:block">Settings</div>
        </a>
      </div>
    </header>

    <!--End of navbar for big screens-->

    <div class="flex flex-col w-[100%] lg:w-[60%] lg:border-r">
      <div class="flex justify-center p-5 gap-16">
        <p class="text-lg">For you</p>
        <p class="text-lg">Following</p>
      </div>

      <hr class="w-[100%]" />

      <!-- Tweets div -->

      <div class="flex flex-col">
        <form class="create_tweet_form">
          <!-- Write your tweets -->

          <input
            type="text"
            placeholder="What is happening?"
            class="h-36 w-[100%] bg-black border-none"
            id="create_tweet_input"
          />

          <div class="bg-teal" id="autocomplete"></div>

          <div class="flex justify-between">
            <img src="../imgs/emoji_grin.png" alt="emoji_grin" class="w-10" />

            <button class="px-8 border bg-blue rounded-full">
              <b>Post</b>
            </button>
          </div>
        </form>

        <!-- Append tweets here -->
        <div id="tweets"></div>
      </div>

      <footer
        class="flex justify-between p-4 border-t relative sticky bottom-0 sm:hidden"
      >
        <!-- Navbar for small screens -->

        <a href="home.html" class="h-auto invert w-[8%] sm:hidden">
          <img src="../imgs/logo.maison.webp" alt="Logo Home" />
        </a>

        <a href="search.html" class="h-auto invert w-[8%] sm:hidden">
          <img src="../imgs/logo.loupe.webp" alt="Logo Home" />
        </a>

        <a href="notifications.html" class="h-auto invert w-[8%] sm:hidden">
          <img src="../imgs/logo.notifications.webp" alt="Logo Home" />
        </a>

        <a href="test.html" class="h-auto invert w-[8%] sm:hidden">
          <img src="../imgs/logo.enveloppe.webp" alt="Logo Home" />
        </a>

        <a href="account.html" class="h-auto invert w-[8%] sm:hidden">
          <img src="../imgs/logo.profil.webp" alt="Logo Home" />
        </a>
      </footer>
    </div>

    <!-- Side bar to show suggestions and trendings -->

    <div>
      <form id="searchUser" method="post">
      <input
        type="search"
        placeholder="Search a hashtag..."
        class="hidden lg:block lg:rounded-full lg:p-3 lg:ml-10 lg:mt-3 lg:bg-teal"
        name="searchUser"
        id="searchHashtag"
      />
      </form>
      <div
        class="hidden lg:block lg:rounded-lg lg:h-36 lg:mt-4 lg:ml-10 lg:bg-teal"
      ></div>
      <div
        class="hidden lg:block lg:rounded-lg lg:h-64 lg:mt-4 lg:ml-10 lg:bg-teal"
      ></div>
      <div
        class="hidden lg:block lg:rounded-lg lg:h-96 lg:mt-4 lg:ml-10 lg:bg-teal"
      ></div>
    </div>
  </body>
</html>
