<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../controllers/message/message.js" defer></script>
    <link rel="stylesheet" href="../styles/tailwind.css" />
    <title>Message</title>
  </head>

  <body class="flex bg-black text-white">
    <div>
      <nav class="max-lg:hidden lg:mx-6 text-white xl:mr-56">
        <img
          src="../imgs/default.png"
          class="rounded-full w-[8%] h-auto mt-3 lg:w-12 lg:mb-8"
        />

        <img
          src="../imgs/x_icon.png"
          alt="parametre"
          class="w-[8%] mt-3 h-auto lg:w-12 lg:mb-8"
        />

        <div class="hidden sm:block lg:w-12 lg:mb-8">
          <a href="home.html" class="xl:flex xl:items-center xl:gap-5">
            <img
              src="../imgs/maison.png"
              alt="Logo Home"
              class="sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
            />
            <div class="hidden xl:text-2xl xl:block">Home</div>
          </a>
        </div>

        <div
          class="hidden sm:block xl:flex xl:items-center xl:gap-5 lg:w-12 lg:mb-8"
        >
          <img
            src="../imgs/loupe.png"
            alt="Logo Home"
            class="hidden sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
          />

          <div class="hidden xl:text-2xl xl:block">Explore</div>
        </div>

        <div
          class="hidden sm:block xl:flex xl:items-center xl:gap-5 lg:w-12 lg:mb-8"
        >
          <img
            src="../imgs/notification.png"
            alt="Logo Home"
            class="hidden sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
          />
          <div class="hidden xl:text-2xl xl:block">Notifications</div>
        </div>

        <div
          class="hidden sm:block xl:flex xl:items-center xl:gap-5 lg:w-12 lg:mb-8"
        >
          <img
            src="../imgs/logo.png"
            alt="Logo Home"
            class="hidden sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
          />
          <div class="hidden xl:text-2xl xl:block">Messages</div>
        </div>

        <div class="hidden sm:block lg:w-12 lg:mb-8">
          <a href="home.html" class="xl:flex xl:items-center xl:gap-5">
            <img
              src="../imgs/logo.profil.webp"
              alt="Logo Home"
              class="hidden sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
            />
            <div class="hidden xl:text-2xl xl:block">Profil</div>
          </a>
        </div>

        <div
          class="hidden sm:block xl:flex xl:items-center xl:gap-5 lg:w-12 lg:mb-8"
        >
          <img
            src="../imgs/settings_icon.png"
            alt="Logo Home"
            class="hidden sm:block sm:h-auto sm:invert sm:w-10 sm:ml-3"
          />
          <div class="hidden xl:text-2xl xl:block">Settings</div>
        </div>
      </nav>
    </div>

    <div
      class="max-sm:hidden md:px-12 max-lg:border lg:border-r border-gray-700 lg:border-l lg:px-24 xl:px-28"
    >
      <h3 class="max-sm:hidden md:text-white mb-12 mt-5 text-center">
        Message
      </h3>

      <form id="PS">
        <input
          name="pseudo"
          id="pseudo"
          type="text"
          placeholder="Nom d'utilisateur"
          class="max-lg:hidden lg:rounded-md lg:w-28 bg-gray-700 xl:rounded-md xl:w-72 pl-3"
        />
      </form>

      <!-- <div id="Pseudonyme"></div> -->

      <form id="creer">
        <input
          name="conversation_id"
          id="conversation_id"
          type="text"
          placeholder="ID de la conversation existante"
          class="max-lg:hidden lg:rounded-md lg:w-28 bg-gray-700 xl:rounded-md xl:w-72 pl-3"
        />

        <input
          name="userId"
          id="userId"
          type="text"
          placeholder="ID de l'utilisateur"
          class="max-lg:hidden lg:rounded-md lg:w-28 bg-gray-700 xl:rounded-md xl:w-72 pl-3"
        />

        <input
          type="hidden"
          id="idConvo"
          name="idConvo"
          value="ID_DE_LA_CONVERSATION"
        />

        <input
          type="submit"
          name="create"
          class="bg-blue-950 rounded-md mt-3 p-1"
          value="Créer / Rejoindre conversation"
        />
      </form>
    </div>

    <div class="lg:border-r border-gray-700">
      <div class="flex justify-between">
        <img
          class="w-6 invert rotate-180 md:mx-3 mr-10"
          src="../imgs/fleche.png"
          alt="retour"
        />
        <img
          class="w-6 invert xl:mr-2"
          src="../imgs/info-removebg-preview.png"
          alt="info"
        />
      </div>

      <div id="Pseudonyme" class="h-[90vh] lg:border-b border-gray-700">
        <div id="Message"></div>
      </div>

      <div
        class="flex mr-5 p-1 max-sm:mx-2 justify-between bg-gray-700 rounded-md md:pr-64 md:mx-8 lg:mt-0.5 xl:py-2 xl:mt-1"
      >
        <div class="flex gap-2">
          <img
            id="Img"
            class="w-6"
            src="../imgs/galerie-removebg-preview.png"
            alt="photos"
          />
          <img
            id="Img"
            class="w-6"
            src="../imgs/gif-removebg-preview.png"
            alt="gif"
          />
          <img
            id="Img"
            class="w-6"
            4
            src="../imgs/smiley-removebg-preview.png"
            alt="emojis"
          />
        </div>

        <form id="MS">
          <input
            id="send"
            name="send"
            class="bg-gray-700 md:text-base md:text-left text-white"
            type="text"
            placeholder="Send a new message"
          />

          <input type="submit" name="submit" />
          <img
            name="submit"
            class="w-6 rotate-[35deg] md:absolute md:bottom-2 md:right-20 lg:absolute lg:bottom-1 lg:right-20 xl:absolute xl:bottom-2 xl:right-48"
            src="../imgs/message_fleche.png"
            alt="Envoyer"
          />
        </form>
      </div>
    </div>
  </body>
</html>
