<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../controllers/sign/signin.js" defer></script>
    <link rel="stylesheet" href="/styles/tailwind.css" />
    <title>Twitter</title>
  </head>
  <body class="flex flex-col items-center p-8 sm:flex-row sm:items-start">
    <a href="sign.html">
      <img src="../imgs/x_icon.png" alt="X Icon" class="w-16 sm:hidden" />
    </a>

    <img
      src="../imgs/twitter_x.png"
      alt="Plane"
      class="invisible sm:visible w-2/3"
    />

    <form class="flex flex-col items-center gap-4">
      <h1 class="text-xl">Sign in</h1>

      <div class="flex flex-col gap-2">
        <label>Email</label>
        <input type="email" class="input" id="email" />
      </div>

      <div class="flex flex-col gap-2">
        <label>Password</label>
        <input type="password" class="input" id="password" />
      </div>

      <button class="border px-8 py-2 rounded-full border-blue hover:bg-blue">
        Sign in
      </button>

      <div class="message"></div>
    </form>
  </body>
</html>
