<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/tailwind.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../controllers/sign/signup.js" defer></script>
    <title>Twitter</title>
  </head>

  <body>
    <main>
      <div
        class="flex flex-col items-center justify-center gap-6 md:flex-row md:h-screen md:top-1/2"
      >
        <a href="sign.html">
          <img
            src="../imgs/x_icon.png"
            alt="X Icon"
            class="w-20 h-auto md:w-72"
          />
        </a>

        <form class="flex flex-col items-center gap-6">
          <h3 class="text-xl">Sign up</h3>

          <div class="flex flex-col gap-2">
            <label class="left">Username</label>
            <input type="text" class="input" id="username" />
          </div>

          <div class="flex flex-col gap-2">
            <label class="left">Email</label>
            <input type="email" class="input" id="email" />
          </div>

          <div class="flex flex-col gap-2">
            <label class="left">Password</label>
            <input type="password" class="input" id="password" />
          </div>

          <div class="flex flex-col gap-2">
            <label class="left">Birthdate</label>
            <input type="date" class="input" id="birthdate" />
          </div>

          <div id="message"></div>

          <button
            class="border px-12 py-2 rounded-full border-[#0ea5e9] bg-black hover:bg-[#0ea5e9]"
          >
            Sign up
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
