<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/tailwind.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="../controllers/users/users.js" defer></script>
    <script src="../controllers/follow/follow.js" defer></script>
    <title>Account</title>
  </head>

  <body class="flex bg-black text-white">
    <div class="w-16 mt-8 bg-black space-y-8 sm:p-4">
      <div>
        <a href="home.html">
          <img
            src="../imgs/logo.maison.webp"
            alt="Logo Home"
            class="h-auto w-full invert"
          />
        </a>
      </div>



      <div>
        <a href="">
          <img
            src="../imgs/logo.notifications.webp"
            alt="Logo Home"
            class="h-auto invert w-full"
          />
        </a>
      </div>

      <div>
        <a href="">
          <img
            src="../imgs/logo.enveloppe.webp"
            alt="Logo Home"
            class="h-auto invert w-full"
          />
        </a>
      </div>

      <div>
        <a href="">
          <img
            src="../imgs/logo.profil.webp"
            alt="Logo Home"
            class="h-auto invert w-full"
          />
        </a>
      </div>
    </div>

    <div class="mt-2 md:border-x px-4 lg:border-x lg:w-3/4 px-4">


      <div>
        <div class="">
          <img
            src="../imgs/default_banner.jpg"
            alt=""
            class="w-full"
          />
        </div>

        <div class="">
          <img
            src="../imgs/pierre_profile_picture.jpg"
            alt=""
            class="w-20 rounded-full"
          />
          <button class="rounded-full bg-blue p-2" id="followButton">Follow</button>
        </div>
      </div>


      <nav>
        <div class="">
          <ul class="flex space-x-10 justify-center">
            <li>Post</li>
            <li>Replies</li>
            <li>Media</li>
            <li>Likes</li>
            <li>Post</li>
          </ul>
        </div>
      </nav>
      <div class="h-64" id="tweets"></div>

      <footer
        class="flex bg-black justify-between p-4 border-t relative sticky bottom-0 sm:hidden"
      >
        <img
          src="../imgs/logo.maison.webp"
          alt="Logo Home"
          class="h-auto invert w-[8%] sm:hidden"
        />
        <img
          src="../imgs/logo.loupe.webp"
          alt="Logo Home"
          class="h-auto invert w-[8%] sm:hidden"
        />
        <img
          src="../imgs/logo.notifications.webp"
          alt="Logo Home"
          class="h-auto invert w-[8%] sm:hidden"
        />
        <img
          src="../imgs/logo.enveloppe.webp"
          alt="Logo Home"
          class="h-auto invert w-[8%] sm:hidden"
        />
        <img
          src="../imgs/logo.profil.webp"
          alt="Logo Home"
          class="h-auto invert w-[8%] sm:hidden"
        />
      </footer>
    </div>

    <div class="hidden sm:block w-1/4">
      <div class="flex bg-slate700 mt-8 mx-2 h-64 rounded-lg">
        <img
          src="../imgs/Zoro_Portrait_Punk_Hazard.webp"
          alt=""
          class="w-10 h-12 pt-2 ml-2 flex rounded-full"
        />
        <h2 class="pt-4 ml-2">account.suggest</h2>
      </div>
    </div>
  </body>
</html>
